<div style="color:darksalmon;text-align:center;height 150px;background-color:azure;border-style:dotted;
border-color:slateblue;border-width:thick;box-shadow:0px 0px 50px inset
">
    <img id="imgsumasoft"alt="www.sumasoft.com"src="~/Images/Sumasoft Image.jpg"width="96%"height="80%" />
    <morquee style="font-size:x-large;color:crimson;" behavior="alternate">
        .NET, Java, Python, Hadoop, Data Science, DevOps, Azure etc.
    </morquee>
</div>
